<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{{ page.title }}{% endblock %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'pastebin/css/milligram.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pastebin/css/pastebin.css' %}"/>

</head>
<body>
<div class="container margin-top-5">
    {% block brand %}
        <div class="row" id="logo">
            <div class="column column-10 column-offset-20">
                <img src="{% static 'pastebin/img/bin-50x50.png' %}"/>
            </div>
            <div class="column column-30">
                <h1> Django-Pastebin </h1>
            </div>
        </div>
    {% endblock %}
    <section id="navigation">
        {% include 'pastebin/navigation.html' %}
    </section>

    <section class="column column-80 column-offset-10" id="content">
        {% block content %}{% endblock %}
    </section>
    {% block footer %}
        <section class="row">
            <p>
                <a href="https://github.com/johannessarpola"> Johannes Sarpola </a> © {% now "Y" %}
            </p>
        </section>
    {% endblock %}
</div>
</body>