<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{{ common.title }}{% endblock %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pastebin/css/milligram.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pastebin/css/pastebin.css' %}"/>

</head>
<body>
<div class="container margin-top-10">
    {% block navigation %}
        <section id="navigation">
            <nav>
                <div class="row">
                    <h3>Navigation</h3>
                </div>
                <div class="row">
                    <table>
                        <tr>
                            <td>
                                <a href="{% url 'new' %}"> New paste </a>
                            </td>
                            {% if user.is_superuser %}
                                <td>
                                    <a href="{% url 'admin:index' %}"> Admin </a>
                                </td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </nav>
        </section>
    {% endblock %}

    <section class="column column-80 column-offset-10" id="content">
        {% block content %}{% endblock %}
    </section>
    {% block footer %}
        <section class="row">
            <p>
                <a href="https://github.com/johannessarpola"> Johannes Sarpola </a> © 2017
            </p>
        </section>
    {% endblock %}
</div>
</body>