<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{{ common.title }}{% endblock %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pastebin/css/milligram.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pastebin/css/pastebin.css' %}"/>

</head>
<body class="row">
    <div class="container column column-80 column-offset-10">
        <nav id="navigation" >
            {% block navigation %}{% endblock %}
        </nav>

        <section id="content" >
            {% block content %}{% endblock %}
        </section>

        <footer id="footer" >
            {% block footer %}{% endblock %}
        </footer>
    </div>
</body>