{% extends "pastebin/base.html" %}
{% block content %}
    <div class="row">
        <div class="column column-30">
            <h2> You can edit your information here </h2>
        </div>
        <div class="column column-60">
            <form method="POST">
                {% csrf_token %}
                {% for form in forms %}
                    {{ form.as_p }}
                {% endfor %}
                <button type="submit" class="save btn btn-default">
                    Save
                </button>
            </form>
        </div>

{% endblock %}